<div class="container">
  <div class="row">
<mat-toolbar>
  <span class="header">Registration</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>
    <form class="my-form" [formGroup]="registerForm">
      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input  matInput type="text" placeholder="Last Name" name="name" formControlName="name"  required>
          
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input  matInput type="email"  placeholder="Email" name="email" formControlName="email">
        <label class="error">{{errorMessage}}</label>
        <label class="success">{{successMessage}}</label>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input  matInput type="password"  placeholder="Password"  name="password" formControlName="password" required>
        
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="tryRegister(registerForm.value)" color="primary">REGISTER</button> <span>             OR</span>
    <button mat-button style="padding: 1rem;" (click)="tryGoogleLogin()">
      <mat-icon style="width: 50px; height:30px"
                svgIcon="glogo"></mat-icon> Register With Google
    </button>
    <button mat-button style="padding: 1rem;" (click)="tryFacebookLogin()">
      <mat-icon style="width: 50px; height:30px; font-size: 15px;"
                svgIcon="fblogo"></mat-icon> Register With Facebook
    </button>
    
  </mat-card-actions>
  <mat-card-content>
    <p>Already have an account? <a style="color: blue;" href="/login">Login</a></p>
</mat-card-content>
</mat-card>
</div>
</div>
